@import './styles/mixins.scss';

.containerMain {
  position: relative;
  display: grid;
  grid-template-rows: 10vh 90vh;
  row-gap: 0px;

  main {
    max-height: 90vh;
    overflow: auto;
  }

  .modalContainer {
    position: absolute;
    right: 0;
  }
}
