.containerTable {
    background-color: white;
    color: black;
    border-collapse: collapse;
    font-size: medium;
    width: 100%;
    table-layout: fixed;

    th, td {
        border-bottom: 2px solid gray;
        // border-left: 1px solid gray;
        text-transform: capitalize;
        padding: 1px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    th {
        position: sticky;
        top: -1px;
        z-index: 1;
        background-color: #b2b6f7;
        height: 30px;
    }

    // tr:nth-child(2n - 1) {
    //     background-color: rgba($buttonColor, 0.2);
    // }
}

.selected {
    background-color: rgba($buttonColor, 0.5);
}