.container {
    width: 100%;
    @include flex(row, center, space-evenly);
    background-color: black;

    .containerInfo {
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows: 1fr 1fr;

        img {
            grid-row: 1/3;
            width: 45px;
            height: 45px;
            padding-right: 10px;
            text-align: end;
        }

        &:last-child {
            img {
                width: 50px;
                height: 50px;
                padding-bottom: 10px;
            }

            a:nth-child(2) {
                padding-top: 8px;
            }
        }

        a {
            text-align: start;
            color: white;
            transition: all 0.3s;

            &:hover {
                cursor: pointer;
                color: $buttonColor;
            }
        }
    }
}