.containerMain {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 60px 1fr auto;
    row-gap: 10px;
    height: 98%;
    justify-items: center;

    .containerFilter {
        grid-column: 1/3;
        width: 98%;
        height: 90%;
        align-self: center;

        form {
            width: 100%;
            justify-content: center;
            align-items: space-between;

            div {
                width: auto;
                @include flex(row, space-between, space-evenly);

                &:first-child {
                    flex-wrap: nowrap;
                    width: 70%;

                    div {
                        flex-wrap: nowrap;
                        width: 40%;

                        label {
                            align-self: center;
                        }

                        input {
                            width: 50%;
                        }
                    }
                }

                &:last-child {
                    width: 30%;
                }
            }
        }
    }

    .containerTable {
        grid-row: 2 / 4;
        margin-left: 10px;
        max-height: 100%;
        width: 75vw;
        max-width: 75vw;
        min-width: 50vw;
        overflow: auto;
        border-radius: 10px;
        resize: horizontal;
    }
    
    form {
        min-width: 300px;
        div{
            @include flex(column, flex-start);
        }
    }
}