.container {
    width: 100%;
    @include flex(row, center, space-evenly);
}

.company {
    text-transform: capitalize;
    background-color: $secondaryColor;
    width: 20%;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    color: $primaryColor;

    &:hover {
        box-shadow: 5px 5px 10px $buttonColor;
    }
}
