.containerMain {
    // Date
    th:first-child, td:first-child {
        width: 10%;
    };

    // ShippingCode
    th:nth-child(2), td:nth-child(2) {
        width: 5%;
    }

    // Units
    th:nth-child(3), td:nth-child(3) {
        width: 8%;
    }

    // // Code
    // th:nth-child(4), td:nth-child(4) {
    //     max-width: 120px;
    // }

    // // Name
    // th:nth-child(5), td:nth-child(5) {
    //     max-width: 110px;
    // }
    
    // // Brand
    // th:nth-child(6), td:nth-child(6) {
    //     max-width: 70px;
    // }

    // // Detail
    // th:nth-child(7), td:nth-child(7) {
    //     max-width: 70px;
    // }

    // // Deposit
    // th:nth-child(8), td:nth-child(8) {
    //     max-width: 70px;
    // }

    // // Observations
    // th:nth-child(9), td:nth-child(9) {
    //     max-width: 100px;
    // }

    form {
        div > div:nth-child(n + 5) {
            grid-column: 1 / 3;

            input {
                width: 93% !important;
            }
        }
    }
}

.containerInfo {
    grid-column: 2 / 3;
    width: 100%;
    @include flex(row, center, space-evenly);

    div {
        @include flex(column-reverse, center, center);

        span:first-child {
            font-weight:  lighter;
        }

        span:last-child {
            font-size: x-large;
            font-weight: bolder;
        }
    }

    button {
        @include button();
    }
}
